@model UserInfo
@{
    ViewData["Title"] = "멤버십 사용자 정보수정";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div class="text-info">@Html.Raw(@TempData["Message"])</div>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-controller="Membership" asp-action="Update" onsubmit="btnUpdate.disabled = true; return true;">
            <div class="text-danger" asp-validation-summary="All" ></div>
            <div class="form-group">
                @Html.DisplayNameFor(m => m.UserName)
                <input class="form-control" placeholder="UserName" autofocus asp-for="UserName"/>
                <span class="text-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(m => m.UserEmail)
                <input class="form-control" placeholder="UserEmail" asp-for="UserEmail"/>
                <span class="text-danger" asp-validation-for="UserEmail"></span>
            </div>
            <hr/>
            <div class="form-group">
                <div class="text-warning">사용자 아이디는 변경하실 수 없습니다.</div>
                @Html.DisplayNameFor(m => m.UserId)
                <input class="form-control" placeholder="User Id" readonly asp-for="UserId" />
                <span class="text-danger" asp-validation-for="UserId"></span>
            </div>
            <div class="form-group">
                <div class="text-warning">비밀번호 확인용</div>
                @Html.DisplayNameFor(m=>m.Password)
                <input type="password" class="form-control" asp-for="Password" placeholder="Password" autofocus />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <button type="submit" name="btnUpdate" class="btn btn-lg btn-success btn-block">수정하기</button>
        </form>
    </div>
</div>